body {
  background: #f7f7f7;
}

.App {
  text-align: center;
  color: red;
}

.wrapper {
  width: 960px;
  height: 1350px;
  position: relative;
  margin: 0 auto;
  background: #F3F7FA;
  box-shadow: 0px 10px 12px 0px #dddbdb26;
  padding: 18px 36px 18px 36px;
}



