.header {
  display: flex;
  justify-content: center;
}

.header-logo {
  margin: 3% auto;
  width: 60px;
  height: 60px;
  
}

.header:hover {
  // animation: header-shadow infinite 1.4s linear;
}

  .header-logo:hover {
    animation: header-logo-spin infinite 0.7s linear;

  }

  @keyframes header-plane-translate {
    from {
      transform: translate(0, 0);
      
    }
    to {
      transform: translate(75%, -75%);
    }
  }

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
    
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes header-shadow {
  0% {
    box-shadow: inset 0px 0px 100px 0px #2196F3;
    
  }
  25% {
    box-shadow: inset 0px 0px 50px 0px #2196F3;
  }
  50% {
    box-shadow: inset 0px 0px 0px 0px #2196F3;
  }
  75% {
    box-shadow: inset 0px 0px 50px 0px #2196F3;
  }
  100% {
    box-shadow: inset 0px 0px 75px 0px #2196F3;
  }
}
